/* Paddings */
@mixin paddings($ratio: 1) {
	padding: $spacing * $ratio;
}

@mixin padding-top($ratio: 1) {
	padding-top: $spacing * $ratio;
}

@mixin padding-bottom($ratio: 1) {
	padding-bottom: $spacing * $ratio;
}

@mixin padding-left($ratio: 1) {
	padding-left: $spacing * $ratio;
}

@mixin padding-right($ratio: 1) {
	padding-right: $spacing * $ratio;
}

/* Margins */
@mixin margins($ratio: 1) {
	margin: $spacing * $ratio;
}

@mixin margin-top($ratio: 1) {
	margin-top: $spacing * $ratio;
}

@mixin margin-bottom($ratio: 1) {
	margin-bottom: $spacing * $ratio;
}

@mixin margin-left($ratio: 1) {
	margin-left: $spacing * $ratio;
}

@mixin margin-right($ratio: 1) {
	margin-right: $spacing * $ratio;
}